hr{
    border-bottom: 2px solid black;
}
body{
    background-color: #cce6fd;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    min-height: 100vh;
}
body::-webkit-scrollbar {
    display: none;
}

#searchReservation{
    border-left: 2px solid black
}

#title{
    margin-top:10%;
}